# Roma Application Interface

## Table of Contents
{{range .Files}}
{{- $file_name := .Name -}}
- [{{.Name}}](#{{$file_name | anchor}})
  {{- if .Services }}
  {{range .Services}}  - [{{.Name}}](#{{.FullName | anchor}})
  {{- end}}
  {{- end -}}
  {{ if .Messages }}
  {{range .Messages}}  - [{{.LongName}}](#{{.FullName | anchor}})
  {{- end}}
  {{- end -}}
  {{ if .Enums }}
  {{range .Enums}}  - [{{.LongName}}](#{{.FullName | anchor}})
  {{- end}}
  {{- end -}}
{{end}}

{{- /* Processes one file at a time */ -}}

{{range .Files}}
{{$file_name := .Name}}
<a name="{{$file_name | anchor}}"></a>

# Services

{{range .Services}}
<a name="{{.FullName | anchor}}"></a>

service: {{.FullName}}
SERVICE ALL:
{{. | printf "%+v" }}

SERVICE OPT
{{index .Options "privacysandbox.apis.roma.app_api.v1.roma_svc_annotation"}}

begin METHODS
{{range .MethodsWithOption "privacysandbox.apis.roma.app_api.v1.roma_rpc_annotation"}}
{{.Description}}
{{.Name}}

req: {{.RequestLongType}}
{{.RequestFullType}}

response:
{{.ResponseLongType}}
{{.ResponseFullType}}

{{end}}
end METHODS


begin Options
{{range .Options}}
option
---
{{.}}
{{end}}
end Options

end Service Options


### {{.Name}}
{{.Description}}

| Method Name | Request Type | Response Type | Description |
| ----------- | ------------ | ------------- | ------------|
{{range .Methods -}}
{{. | printf "%+v" }}
  | {{.Name}} | [{{.RequestLongType}}](#{{.RequestFullType | anchor}}){{if .RequestStreaming}} stream{{end}} | [{{.ResponseLongType}}](#{{.ResponseFullType | anchor}}){{if .ResponseStreaming}} stream{{end}} | {{nobr .Description}} |
{{end}}
{{end}} <!-- end services -->


{{range .Messages}}
<a name="{{.FullName | anchor}}"></a>
{{. | printf "%+v" }}

### {{.LongName}}
{{.Description}}

{{if .HasFields}}
| Field | Type | Label | Description |
| ----- | ---- | ----- | ----------- |
{{range .Fields -}}
  | {{.Name}} | [{{.LongType}}](#{{.FullType | anchor}}) | {{.Label}} | {{if (index .Options "deprecated"|default false)}}**Deprecated.** {{end}}{{nobr .Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}} |
{{end}}
{{end}}

{{if .HasExtensions}}
| Extension | Type | Base | Number | Description |
| --------- | ---- | ---- | ------ | ----------- |
{{range .Extensions -}}
  | {{.Name}} | {{.LongType}} | {{.ContainingLongType}} | {{.Number}} | {{nobr .Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}} |
{{end}}
{{end}}

{{end}} <!-- end messages -->

{{range .Enums}}
<a name="{{.FullName | anchor}}"></a>

### {{.LongName}}
{{.Description}}

| Name | Number | Description |
| ---- | ------ | ----------- |
{{range .Values -}}
  | {{.Name}} | {{.Number}} | {{nobr .Description}} |
{{end}}

{{end}} <!-- end enums -->

{{end}} <!-- end files -->
