build --announce_rc
build --verbose_failures
build --compilation_mode=opt
build --output_filter='^//((?!(third_party):).)*$'`
build --color=yes
build --@io_bazel_rules_docker//transitions:enable=false
build --config=cpp
build --config=roma_sandboxed
build --config=otel

build:cpp --client_env=BAZEL_CXXOPTS=-std=c++17
build:cpp --cxxopt=-std=c++17
build:cpp --client_env=CC=clang
build:cpp --copt=-Werror=return-type
build:cpp --per_file_copt=external/com_github_google_quiche/quiche@-Wno-private-header

build:roma_legacy --@control_plane_shared//cc/roma/roma_service/src:service=legacy

build:roma_sandboxed --@control_plane_shared//cc/roma/roma_service/src:service=sandboxed
build:roma_sandboxed --per_file_copt=.*sandboxed_api.*@-Wno-return-type
build:roma_sandboxed --cxxopt=-fbracket-depth=512

# Required to build OpenTelemetry with Abseil
build:otel --@io_opentelemetry_cpp//api:with_abseil
# Required to build OpenTelemtry with logs API.
# TODO(b/287675870): Delete the following when the feature is no longer experimental.
build:otel --copt=-DENABLE_LOGS_PREVIEW

test --test_output=errors
