build --verbose_failures
build --client_env=CC=clang
build --cxxopt=-std=c++17
build --copt=-Werror=return-type
build -c opt
build --output_filter='^//((?!(third_party):).)*$'`
build --color=yes
build --@io_bazel_rules_docker//transitions:enable=false
build --client_env=BAZEL_CXXOPTS=-std=c++17

# Required to build OpenTelemetry with Abseil
build --@io_opentelemetry_cpp//api:with_abseil

test --test_output=errors
