# Roma BYOB traffic Generator

## Overview

Run with:
```
docker load -i tools/traffic-generator-cli.tar
docker run \
  --privileged \
  -it \
  --rm \
  --volume /absolute/path/my_udfs:/udf \
  privacy-sandbox/sample-byob-sdk/roma-byob/traffic-generator:v1 \
  <flags>
```

## Flags

| Flag                      | Description                                                                     |
| --------------------------| --------------------------------------------------------------------------------|
| `--burst_size`            | Number of times execute must be called for a single query.                      |
| `--disable_ipc_namespace` | Whether IPC namespace should be disabled.                                       |
| `--queries_per_second`    | Number of queries to be sent per second.                                        |
| `--num_queries`           | Number of queries to be sent.                                                   |
| `--num_workers`           | Number of workers.                                                              |
| `--request`               | File for the UDF request, in json or text proto format.                         |
| `--rpc`                   | Name of the RPC method to invoke.                                               |
| `--sandbox_mode`          | Sandbox mode for BYOB. Supported values: gvisor, gvisor-debug, minimal, nsjail. |
| `--syscall_filter`        | Whether to enable syscall filtering.                                            |
| `--udf`                   | UDF executable to be benchmarked.                                               |
