# Roma BYOB traffic Generator

## Overview

Run with:
```
docker load -i tools/traffic-generator-cli.tar
docker run \
  --privileged \
  -it \
  --rm \
  --volume /absolute/path/my_udfs:/udf \
  privacy-sandbox/sample-byob-sdk/roma-byob/traffic-generator:v1 \
  <flags>
```

## Flags

| Flag                    | Type               | Default Value        | Description                                                                         |
| ----------------------- | ------------------ | -------------------- | ----------------------------------------------------------------------------------- |
| `run_id`                | `string`           | Arbitrary identifier | Identifier included in reports                                                      |
| `num_workers`           | `int`              | 84                   | Number of pre-created workers                                                       |
| `queries_per_second`    | `int`              | 42                   | Queries sent per second                                                             |
| `burst_size`            | `int`              | 14                   | Requests per burst                                                                  |
| `num_queries`           | `int`              | 10,000               | Total queries to send                                                               |
| `total_invocations`     | `int`              | 0                    | Overrides `num_queries` if non-zero                                                 |
| `sandbox`               | `Mode`             | `nsjail`             | Sandbox mode. Supported values: gvisor, gvisor-debug, minimal, nsjail.              |
| `syscall_filtering`     | `SyscallFiltering` | `untrusted`          | Syscall filtering level.  Supported values: no, worker-engine, untrusted.           |
| `disable_ipc_namespace` | `bool`             | true                 | Whether IPC namespace should be disabled.                                           |
| `output_file`           | `string`           |                      | Output file path (JSON format)                                                      |
| `verbose`               | `bool`             | false                | Enable verbose logging                                                              |
| `sigpending`            | `optional<int>`    |                      | Pending signals rlimit                                                              |
| `duration`              | `absl::Duration`   | Infinite             | Duration to run generator                                                           |
| `find_max_qps`          | `bool`             | false                | Find max QPS maintaining performance                                                |
| `qps_search_bounds`     | `string`           | `1:10000`            | Lower and upper bounds for QPS search                                               |
| `late_threshold`        | `double`           | 15.0                 | Max acceptable percentage of late bursts                                            |
| `--udf`                 | `string`           |                      | UDF executable to be benchmarked.                                                   |
| `--request`             | `string`           |                      | File for the UDF request, in json or text proto format.                             |
| `--rpc`                 | `string`           |                      | Name of the RPC method to invoke.                                                   |
| `--connection_timeout`  | `absl::Duration`   | 0                    | Max time to wait for a worker.                                                      |
