build --show_result=100

build:rbecache --remote_cache=grpcs://remotebuildexecution.googleapis.com
build:rbecache --remote_default_exec_properties=cache-silo-key=FirstCachedBuild
build:rbecache --remote_instance_name=projects/kiwi-air-force-remote-build/instances/default_instance
build:rbecache --remote_timeout=3600

build:bazel_verbose --subcommands=pretty_print

build:kokoro --config=run_all_tests
build:kokoro --curses=no
build:kokoro --progress_report_interval=10
build:kokoro --show_progress_rate_limit=10

# Kythe code search indexer for references.
build:kythe --keep_going
build:kythe --experimental_extra_action_top_level_only
build:kythe --experimental_action_listener=@kythe_release//:extract_kzip_cxx
