{
  "ociVersion": "1.0.2-dev",
  "process": {
    "user": {
      "uid": 0,
      "gid": 0
    },
    "env": [
      "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin",
      "LD_LIBRARY_PATH=@ld_library_path@",
      "uncomment_for_shared_lib_debugging_LD_TRACE_LOADED_OBJECTS=1"
    ],
    "cwd": "/",
    "capabilities": {
      "ambient": [],
      "bounding": ["CAP_SETPCAP", "CAP_SYS_ADMIN"],
      "effective": ["CAP_SETPCAP", "CAP_SYS_ADMIN"],
      "inheritable": [],
      "permitted": ["CAP_SETPCAP", "CAP_SYS_ADMIN"]
    },
    "noNewPrivileges": true
  },
  "hostname": "runsc",
  "linux": {
    "namespaces": [
      { "type": "mount" },
      { "type": "network" },
      { "type": "uts" },
      { "type": "pid" },
      { "type": "ipc" },
      { "type": "cgroup" }
    ]
  }
}
